<div class="background-image">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">

            <div *ngIf="errorMessage" class="toast align-items-center text-bg-danger border-0 show" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; top: 20px; right: 20px; z-index: 1050;">
              <div class="d-flex">
                <div class="toast-body">
                  {{ errorMessage }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="errorMessage = ''" aria-label="Close"></button>
              </div>
            </div>

            <h5 class="card-title text-center"><strong>Login</strong></h5>
            <form (ngSubmit)="onLogin()">
              <div class="form-group">
                <label for="usuario"><strong>Usuário</strong></label>
                <input type="text" class="form-control" id="usuario" [(ngModel)]="usuario" name="usuario"
                  placeholder="Seu usuário" required />
              </div>
              <div class="form-group">
                <label for="senha"><strong>Senha</strong></label>
                <input type="password" class="form-control" id="senha" [(ngModel)]="senha" name="senha"
                  placeholder="Sua senha" required />
              </div>
              <div class="button">
                <button type="submit" class="btn btn-primary btn-block">
                  <strong>Entrar</strong>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
