<div class="background-image">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body flex-grow-1">
            <div *ngIf="playerFindById | async as player">
              <h5 class="card-title text-center"><strong>Pontuação</strong></h5>

              <div class="incentivo-text">
                <strong>{{ getIncentivoText(player.pointScore) }}</strong>
              </div>

              <div class="diamond-wrapper">
                <div class="diamond-border"></div>
                <div class="diamond">
                  <div class="diamond2-border"></div>
                  <div class="text" [ngClass]="getHpClass(player.pointScore)">
                    <strong>{{ player.pointScore }}</strong>
                  </div>
                </div>
              </div>
              <div class="button">
                <button (click)="novoJogo()" type="button" class="btn btn-success"><strong>Novo Jogo</strong></button>
                <button (click)="sair()" type="button" class="btn btn-danger"><strong>Sair</strong></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
