<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div *ngFor="let question of questions | async">
            <h5 class="card-title text-center"><strong>{{ question.category }}</strong></h5>
          </div>
          <form>
            <div *ngIf="questions | async as question; else loading">
              <div class="form-group" *ngFor="let question of questions | async">
                <label>{{ question.questionText }}</label>
                <div *ngFor="let answer of question.answers">
                  <input type="radio" name="question{{ question.id }}" [value]="answer.id">
                  <label>{{ answer.answerText }}</label>
                </div>
              </div>
            </div>
            <div class="button">
              <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block">
                <a routerLink="/Quiz" class="navbar-brand mb-0"><strong>Entrar</strong></a>
              </button>
            </div>
          </form>
        </div>

        <ng-template #loading>
          <div class="d-flex justify-content-center">
            <div class="spinner-border m-5 text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</div>
