<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <div *ngIf="playerFindById | async as player; else loading">
            <ng-container *ngFor="let question of player.question">
              <h5 class="card-title text-center"><strong>{{ question.category }}</strong></h5>
              <form>
                <div class="progress" role="progressbar" aria-label="Example with label" aria-valuemin="0" aria-valuemax="100">
                  <div class="progress-bar" [style.width.%]="player.pointScore">{{ player.pointScore }}%</div>
                </div>
                <div class="form-group">
                  <label>{{ question.questionText }}</label>
                  <div *ngFor="let answer of question.answers">
                    <input type="radio" name="question{{ question.id }}" [value]="answer.id">
                    <label>{{ answer.answerText }}</label>
                  </div>
                </div>
                <div class="button">
                  <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block">
                    <a routerLink="/Quiz" class="navbar-brand mb-0"><strong>Entrar</strong></a>
                  </button>
                </div>
              </form>
            </ng-container>
          </div>
        </div>

        <ng-template #loading>
          <div class="d-flex justify-content-center ">
            <div class="spinner-border m-5 text-primary" role="status">
              <span class="visually-hidden">Loading...</span>
            </div>
          </div>
        </ng-template>

      </div>
    </div>
  </div>
</div>
