
.card, .card-body {
  box-sizing: border-box;
  overflow: hidden;
}

.background-image {
  background-image: url('/assets/Categoria');
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  padding-top: 10%;
}

.card-title {
  color: aliceblue;
  background-color: rgb(121, 146, 173);
  border-radius: 5px;
}

.button {
  display: flex;
  justify-content: center;
  padding-top: 10px ;
  cursor: pointer;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.container {
  padding-top: 10%;
  font-family: 'Courier New', Courier, monospace;
}

.card-title {
  color: aliceblue;
  background-color: rgb(121, 146, 173);
  border-radius: 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

.correct-answer {
  color: green;
}

.wrong-answer {
  color: red;
}

#loading {
  position: relative;
  display: inline-block;
}

#loading::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid transparent;
  border-top-color: #000000;
  animation: spinner 60s linear infinite;
}

.countdown {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 14px;
  color: #000000;
}

@keyframes spinner {
  0% {
    border-color: #000000 transparent transparent transparent;
  }
  25% {
    border-color: #000000 transparent transparent transparent;
  }
  50% {
    border-color: #000000 #000000 transparent transparent;
  }
  75% {
    border-color: #000000 #000000 #000000 transparent;
  }
  100% {
    border-color: #000000 #000000 #000000 #000000;
  }
}

.hp-bar {
  border-radius: 10px;
  width: auto;
  height: 20px;
  border: 2px solid #534e4e;
  background-color: #e4dfdf;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.hp-label {
  position: absolute;
  left: 5px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hp-value {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.hp-fill {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #4caf50;
  transition: width 0.5s ease-in-out;
}

.hp-fill.low {
  background-color: #ff0000;
}

.hp-fill.medium {
  background-color: #ffeb3b;
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-4px); }
  50% { transform: translateX(4px); }
  75% { transform: translateX(-4px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.9s;
}
