<div class="background-image">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card">
          <div class="card-body">

            <div *ngIf="successMessage" class="toast align-items-center text-bg-success border-0 show" role="alert" aria-live="assertive" aria-atomic="true" style="position: fixed; top: 20px; right: 20px; z-index: 1050;">
              <div class="d-flex">
                <div class="toast-body">
                  {{ successMessage }}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" (click)="successMessage = ''" aria-label="Close"></button>
              </div>
            </div>

            <div *ngIf="errorMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
              {{ errorMessage }}
              <button type="button" class="btn-close" (click)="errorMessage = ''"></button>
            </div>

            <h5 class="card-title text-center"><strong>Cadastrar</strong></h5>
            <form (ngSubmit)="registerPlayer()">
              <div class="form-group">
                <label for="nome"><strong>Nome</strong></label>
                <input type="text" class="form-control" id="nome" name="nome" placeholder="Seu nome" [(ngModel)]="player.name" required />
              </div>
              <div class="form-group">
                <label for="usuario"><strong>Usuário(Login)</strong></label>
                <input type="text" class="form-control" id="usuario" name="usuario" placeholder="Seu usuário" [(ngModel)]="player.usuario" required minlength="4"/>
              </div>
              <div class="form-group">
                <label for="senha"><strong>Senha</strong></label>
                <input type="password" class="form-control" id="senha" name="senha" placeholder="Sua senha" [(ngModel)]="player.password" required minlength="6" />
              </div>
              <div class="form-group">
                <label for="senha-repeat"><strong>Repita sua senha</strong></label>
                <input type="password" class="form-control" id="senha-repeat" name="senha-repeat" placeholder="Repita sua senha" [(ngModel)]="senhaRepeat" required />
              </div>
              <div class="button">
                <button type="submit" class="btn btn-primary btn-block">
                  <strong>Finalizar Cadastro</strong>
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
